@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Lato Heavy';
  src: url("../fonts/latoheavy.woff2") format("woff2"), url("../fonts/latoheavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Lato Heavy Italic';
  src: url("../fonts/latoheavyitalic.woff2") format("woff2"), url("../fonts/latoheavyitalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  unicode-range: U+0020-2044;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.abody {
  background-color: #FFFFFF;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4B5157;
}

.container {
  max-width: 1140px;
  margin: auto;
}

input, textarea {
  outline: none;
}

textarea {
  resize: none;
}

.invalid {
  color: #FF4F52;
}

.valid {
  color: green;
}

.avatar {
  border-radius: 50%;
}

.subtitle {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}

img {
  max-width: 100%;
}

button, .abutton {
  cursor: pointer;
}

use.bookmarked {
  fill: #FF4F52;
}

.href {
  text-decoration: none;
}

.href:not(:last-child) {
  margin-right: 14px;
}

.main__link {
  cursor: auto;
}

.header {
  background-color: #262D33;
  max-height: 545px;
}

.header-top {
  padding: 15px 0;
  max-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-bottom {
  margin-top: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 163px;
  max-height: 40px;
}

.logo-text {
  margin-left: 10px;
}

.navbar {
  list-style-type: none;
  padding: 0;
  min-width: 540px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__item {
  font-family: "Lato Black", sans-serif;
  font-weight: 900;
}

.navbar__link {
  text-decoration: none;
  color: #FFFFFF;
}

.modbutton {
  padding: 10px 65px;
  background-color: #656B70;
  border: none;
  color: #FFFFFF;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 10px;
}

.hero {
  display: grid;
  grid-template-columns: 877px 263px;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
}

.hero-left {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 55px 225px 100px 55px;
  min-height: 570px;
  color: #FFFFFF;
  display: none;
}

.hero-left--image1 {
  background-image: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35)), url("../img/hero-image-1.jpg");
}

.hero-left--image2 {
  background-image: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35)), url("../img/hero-image-2.jpg");
}

.hero-left--image3 {
  background-image: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35)), url("../img/hero-image-3.jpg");
}

.hero-left--image4 {
  background-image: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35)), url("../img/hero-image-4.jpg");
}

.hero-left--image5 {
  background-image: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35)), url("../img/hero-image-5.jpg");
}

.hero-left--active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-right {
  padding: 20px 0 0 0;
  display: grid;
  grid-template-rows: 39px repeat(5, 1fr);
}

.hero-right__title {
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}

.hero-right__card {
  padding-top: 17px;
  border-top: 1px solid #D9DADB;
  cursor: pointer;
}

.hero-right__card--active {
  background: #F5F5F5;
}

.hero-right__subtitle {
  margin-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
}

.hero-right__subtitle--accent1 {
  color: #3BBDC4;
}

.hero-right__subtitle--accent2 {
  color: #6E99AE;
}

.hero-right__subtitle--accent3 {
  color: #AC8EE3;
}

.hero-right__subtitle--accent4 {
  color: #FFA34D;
}

.hero-right__subtitle--accent5 {
  color: #3DC47E;
}

.hero-right__link {
  text-decoration: none;
}

.hero-right__text {
  padding-left: 25px;
  padding-right: 25px;
  color: #4B5157;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author__avatar {
  width: 45px;
  height: 45px;
}

.author__info {
  margin-left: 10px;
}

.author__name {
  margin: 0;
  font-size: 14px;
  opacity: 0.85;
}

.author__job {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
}

.main__subtitle {
  color: #4592FF;
  margin: 0;
  margin-bottom: 20px;
}

.main__link {
  text-decoration: none;
}

.main__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 50px;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #4592FF;
  border: none;
  display: flex;
  align-items: center;
}

.button__text {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 5px;
}

.button__arrow {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
}

.aheader {
  padding: 15px 0;
  max-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.aheader-section {
  background-color: #FFFFFF;
  height: 70px;
}

.logo {
  max-width: 163px;
  max-height: 40px;
}

.navbar {
  list-style-type: none;
  padding: 0;
  min-width: 540px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__item {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.navbar__link {
  text-decoration: none;
  color: #939699;
}

.modbutton {
  padding: 10px 65px;
  background-color: #656B70;
  border: none;
  color: #FFFFFF;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 10px;
}

.ahero {
  position: relative;
  padding: 60px 94px 72px 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-column-gap: 67px;
  grid-template-rows: 20px 1fr;
  grid-row-gap: 52px;
}

.ahero-card {
  position: absolute;
  bottom: -195px;
  z-index: 100;
  right: 0;
  width: 263px;
  background: #FFFFFF;
  border: 1px solid #D9DADB;
  border-radius: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 245px 1px 50px;
}

.ahero-card__top {
  padding: 35px 25px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ahero-card__top-avatar {
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-bottom: 15px;
}

.ahero-card__top-author {
  margin: 0;
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
}

.ahero-card__top-job {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin-bottom: 15px;
}

.ahero-card__top-papers {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
}

.ahero-card__line {
  padding: 0 1px;
  background-color: #D9DADB;
  margin: 0;
}

.ahero-card__bottom {
  padding: 15px 74px;
}

.ahero-card__bottom-link {
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  display: block;
}

.ahero-section {
  margin-bottom: 60px;
  min-height: 590px;
  background: linear-gradient(0deg, rgba(38, 45, 51, 0.75), rgba(38, 45, 51, 0.75)), url("../img/ahero-bg.jpg") center no-repeat #262D33;
  background-size: cover;
  background: linear-gradient(0deg, rgba(38, 45, 51, 0.75), rgba(38, 45, 51, 0.75)), url("../img/ahero-bg-prev.jpg") center no-repeat #262D33;
}

.ahero-section--next {
  background: linear-gradient(0deg, rgba(38, 45, 51, 0.75), rgba(38, 45, 51, 0.75)), url("../img/ahero-bg-next.jpg") center no-repeat #262D33;
}

.ahero-block2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ahero-block2__subtitle {
  color: #4592FF;
}

.ahero-block2__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ahero-block3 {
  padding-top: 20px;
}

.ahero-block3__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: #BCBFC2;
}

.ahero-block4 {
  max-width: 750px;
}

.ahero-block4__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  color: #FFFFFF;
}

.ahero-block4__text {
  margin: 0;
  margin-bottom: 43px;
  max-width: 85%;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.85;
}

.ahero-block4__details {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.85;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ahero-block4__date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.ahero-block4__comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.ahero-block4__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.home__icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  margin-right: 5px;
}

.home__link {
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.back__icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  transform: rotate(180deg);
}

.back__link {
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.forward {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.forward__link {
  margin-right: 5px;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.forward__icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.date-ahero__icon {
  width: 15px;
  height: 15px;
  fill: #FFFFFF;
  opacity: 0.4;
  margin-right: 5px;
}

.comments-ahero__icon {
  width: 15px;
  height: 15px;
  fill: #FFFFFF;
  opacity: 0.4;
  margin-right: 5px;
}

.likes-ahero__icon {
  width: 15px;
  height: 15px;
  fill: #FFFFFF;
  opacity: 0.4;
  margin-right: 5px;
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(194, 195, 196, 0.281);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 478px;
  padding: 33px 88px;
  background-color: #262d33cc;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  border-radius: 8px;
  z-index: 101;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.modal__dialog--visible {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  top: 17px;
  right: 18px;
  text-decoration: none;
  cursor: pointer;
}

.modal__icon {
  height: 16px;
  width: 16px;
  fill: #FFFFFF;
}

.modal__title {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.5px;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.modal__input {
  width: 100%;
}

.modal__input:not(:first-child) {
  margin-top: 15px;
}

.modal__send {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal__message {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 123px;
}

.modal__required {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.8;
  color: #FFFFFF;
}

.modal__button {
  cursor: pointer;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.aarticle {
  padding-left: 95px;
  position: relative;
}

.aarticle-section {
  padding-bottom: 45px;
}

.aarticle__text {
  position: relative;
  margin: 15px 0;
  max-width: 623px;
  z-index: 1;
}

.aarticle__text--letter {
  margin: 0;
}

.aarticle__text--letter:first-letter {
  margin-top: 7px;
  margin-right: 10px;
  margin-left: -7px;
  font-family: "Lato Heavy", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 100px;
  line-height: 75px;
  color: #4592FF;
  float: left;
}

.aarticle__text--notopindent {
  margin-top: 0;
}

.aarticle__text--special {
  padding-top: 65px;
  padding-bottom: 30px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}

.aarticle__quote {
  position: absolute;
  top: 50px;
  left: -20px;
  z-index: -5;
  width: 70px;
  height: 70px;
}

.aarticle__subtitle {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}

.aarticle-card {
  position: absolute;
  top: 150px;
  right: 97px;
  width: 263px;
  height: 430px;
  color: #262D33;
}

.aarticle-card__top {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.aarticle-card__image {
  width: 100%;
  max-height: 180px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.aarticle-card__title {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.aarticle-card__text {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.aarticle-card__details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aarticle__list {
  max-width: 653px;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #D9DADB;
}

.aarticle__item {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
}

.aarticle__item:not(:last-child) {
  margin-right: 10px;
}

.aarticle__link {
  text-decoration: none;
  color: #262D33;
}

.aarticle-repost {
  padding-top: 30px;
}

.aarticle-repost__text {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}

.aarticle-repost__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 60px;
}

.eye {
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.eye__icon {
  width: 15px;
  height: 15px;
  fill: #BCBFC2;
}

.eye__count {
  margin-left: 5px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.acomments {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.acomments__icon {
  width: 15px;
  height: 15px;
  fill: #BCBFC2;
}

.acomments__count {
  margin-left: 5px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.abutton {
  width: 132px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #4592FF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.abutton__text {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.abutton__text-count {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.abutton__text-count--like {
  color: #FFC4C9;
}

.abutton__text-count--share {
  color: #BBC6FF;
}

.abutton__text-count--tweet {
  color: #C5E4FC;
}

.abutton__icon {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
}

.addvertizer {
  margin-top: 155px;
}

.addread {
  background-color: #30363D;
  padding: 25px 0 30px 0;
  height: 130px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.addread__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addread__link:not(:last-child) {
  border-right: 1px solid #D9DADB;
}

.addread__title {
  color: #FFFFFF;
  margin-left: 25px;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.addread__image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 25px;
}

.contsection {
  margin-top: 30px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
}

.article {
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.article--block1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.article--block2 {
  grid-row: 1 / 3;
}

.article--block4 {
  grid-row: 2 / 4;
}

.article--block5 {
  grid-row: 3 / 5;
}

.post-xlarge {
  display: grid;
  grid-template-rows: 314px 1px 55px;
}

.post-xlarge__top {
  padding-top: 35px;
  padding-left: 35px;
}

.post-large1 {
  padding: 20px 35px 25px 25px;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35)), url("../img/card-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.post-large1__sticker {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.post-large1__subtitle {
  color: #E7D9FF;
  margin-top: 116px;
  margin-bottom: 23px;
}

.post-large1__title {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.post-regular1 {
  display: grid;
  grid-template-rows: 124px 1px 45px;
  background-color: #3BBDC4;
  max-height: 170px;
}

.post-large2 {
  display: grid;
  grid-template-rows: 59px 1px 310px;
}

.post-large3 {
  display: grid;
  grid-template-rows: 275px 95px;
}

.post-regular2 {
  padding: 25px 25px 30px 25px;
  max-height: 170px;
}

.post-regular2__title {
  margin: 0;
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}

.post-regular2__text {
  margin: 0;
  margin-bottom: 10px;
  min-height: 60px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.post-regular2__date {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.post-regular3 {
  padding: 30px 36px 40px 36px;
  max-height: 170px;
}

.post-regular3__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.4;
  color: #FFFFFF;
}

.likes__icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  fill: #FFFFFF;
}

.comments2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.4;
  color: #FFFFFF;
}

.comments2__icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  fill: #FFFFFF;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author__avatar {
  margin-right: 5px;
}

.author__content {
  display: flex;
  flex-direction: column;
}

.author__author {
  margin: 0;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.85;
}

.author__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.author__text {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
  color: #FFFFFF;
}

.xlarge-top {
  position: relative;
}

.xlarge-top__bg {
  position: absolute;
  right: 0;
  top: 14px;
}

.xlarge-top__content {
  max-width: 228px;
}

.xlarge-top__subtitle {
  color: #6E99AE;
  margin-bottom: 20px;
}

.xlarge-top__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}

.xlarge-top__text {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.xlarge-line {
  background-color: #D9DADB;
  width: 100%;
  margin: 0;
}

.xlarge-bottom {
  padding: 12px 35px;
  width: 555px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.xlarge-bottom__avatar {
  width: 30px;
}

.xlarge-bottom__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.xlarge-bottom__author {
  margin: 0;
  margin-right: 5px;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
}

.xlarge-bottom__text {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.comments {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comments__icon {
  width: 15px;
  height: 15px;
  fill: #BCBFC2;
  margin-right: 5px;
}

.comments__count {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.outer {
  width: 100%;
  height: 100%;
}

.regular1-top {
  padding: 25px 25px 0 25px;
  background-image: url("../img/file.svg");
  background-repeat: no-repeat;
  background-position: right 22px top 24px;
}

.regular1-top__title {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.regular1-top__text {
  color: #C1F4F5;
}

.regular1-line {
  background-color: #D9DADB;
  width: 100%;
  margin: 0;
}

.regular1-bottom {
  margin: auto;
  padding: 4% 30%;
}

.regular1-bottom__download {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}

.regular1-bottom__download-icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  margin-right: 10px;
}

.regular1-bottom__download-link {
  text-decoration: none;
}

.regular1-bottom__download-text {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.large2-top {
  padding: 20px 25px 19px 25px;
}

.large2-top__title {
  margin: 0;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}

.large2-line {
  background-color: #D9DADB;
  width: 100%;
  margin: 0;
}

.large2-bottom {
  padding: 25px 35px 30px 25px;
}

.large2-bottom__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.large2-bottom__item {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  padding: 4px 15px;
  margin-right: 6px;
  margin-bottom: 15px;
  cursor: pointer;
}

.large2-bottom__item--side {
  margin-right: 0;
}

.large2-bottom__item--end {
  margin-bottom: 0;
}

.large2-bottom__link {
  text-decoration: none;
  color: #262D33;
}

.large3-top__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large3-bottom {
  padding: 15px 25px 30px 25px;
}

.large3-bottom__title {
  margin: 0;
  font-family: Roboto Slab, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}

.social__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social__link {
  cursor: default;
}

.social__logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.gallery {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 877px 1px 262px;
  grid-template-rows: 555px 70px;
  border-radius: 10px;
  overflow: hidden;
}

.gallery-slider {
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
}

.gallery-slider__item {
  position: relative;
  overflow: hidden;
}

.gallery-slider__item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery-slider__image {
  object-fit: cover;
}

.gallery-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  background-color: transparent;
}

.gallery-slider__button--prev {
  left: 35px;
  background-image: url(../img/arrow-prev.svg);
}

.gallery-slider__button--next {
  right: 35px;
  background-image: url(../img/arrow-next.svg);
}

.gallery__info {
  padding: 25px 35px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  border-radius: 0 0 0 10px;
  border: 1px solid #D9DADB;
  border-top: none;
  border-right: none;
}

.gallery__line {
  background-color: #D9DADB;
  margin: 0;
}

.gallery__author {
  padding: 12px 60px 12px 30px;
  border-radius: 0 0 10px 0;
  border: 1px solid #D9DADB;
  border-top: none;
  border-left: none;
}

.aauthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.aauthor__avatar {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.aauthor__info {
  line-height: 20px;
}

.aauthor__name {
  margin: 0;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.aauthor__job {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.investigation {
  height: 270px;
  margin: 60px 0;
}

.investigation-parallax {
  position: relative;
  height: 100%;
}

.investigation-parallax:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
}

.investigation-wrapper {
  position: relative;
  padding: 50px 145px 55px 145px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.investigation-wrapper__title {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  max-width: 850px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
}

.investigation-wrapper__button {
  position: relative;
  margin: auto;
  z-index: 10;
}

.blog {
  display: grid;
  grid-template-columns: 848px 263px;
  grid-template-rows: 770px 1fr;
  grid-column-gap: 30px;
  min-height: 1470px;
}

.blog-section {
  padding-bottom: 60px;
}

.blog-left {
  grid-row: 1 / 3;
  padding: 0 25px;
  border-radius: 10px;
  background-color: #FFFFFF;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.blog-right {
  padding: 20px 0 14px 0;
  border-radius: 10px;
  background-color: #FFFFFF;
  overflow: hidden;
  display: grid;
  grid-template-rows: 39px 1px 1fr 1px 31px;
}

.blog-right__title {
  margin: 0 25px 0 25px;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}

.blog-right__line {
  background-color: #D9DADB;
  width: 100%;
  margin: 0;
}

.blog-right__posts {
  padding: 0 25px;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

.blog-right__more {
  margin: auto;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  cursor: pointer;
}

.bcard {
  padding: 25px 0;
  display: grid;
  grid-template-columns: 336px 437px;
  grid-column-gap: 25px;
  border-bottom: 1px solid #D9DADB;
}

.bcard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bcard-description__head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 15px;
}

.bcard-description__subtitle--accent6 {
  color: #4592FF;
}

.bcard-description__subtitle--accent7 {
  color: #3BBDC4;
}

.bcard-description__subtitle--accent8 {
  color: #FF4F52;
}

.bcard-description__subtitle--accent9 {
  color: #3BBDC4;
}

.bcard-description__subtitle--accent10 {
  color: #FF4F52;
}

.bcard-description__subtitle--accent11 {
  color: #AC8EE3;
}

.bcard-description__link {
  text-decoration: none;
}

.bcard-description__title {
  margin: 0;
  margin-bottom: 10px;
  min-height: 50px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
}

.bcard-description__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.bcard-description__details {
  color: #939699;
  fill: #BCBFC2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.bcard-description__date {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: inherit;
  margin-right: 11px;
}

.comments-blog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-right: 11px;
}

.comments-blog__icon {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.likes-blog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.likes-blog__icon {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.bookmark {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #BCBFC2;
}

.bookmark--large {
  width: 40px;
  height: 40px;
}

.recent {
  position: relative;
  min-height: 94px;
  padding: 17px 0;
  display: grid;
  grid-template-columns: 60px 143px;
  grid-column-gap: 10px;
}

.recent:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.recent__image {
  width: 100%;
  min-height: 60px;
  object-fit: cover;
}

.recent__details {
  min-height: 60px;
}

.recent__number {
  position: absolute;
  top: 20px;
  right: 0;
  font-family: "Lato Heavy Italic", sans-serif;
  font-size: 70px;
  line-height: 50px;
  color: #262D33;
  opacity: 0.08;
}

.recent__title {
  margin: 0;
  margin-bottom: 5px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4B5157;
}

.recent__time {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.selection {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr 0.473fr 0.473fr;
  grid-template-rows: 370px 170px;
  grid-gap: 30px;
}

.selection-section {
  background-color: #262D33;
}

.selection-block1 {
  grid-row: 1 / 3;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.selection-block1__ccard {
  position: absolute;
  top: 0;
  z-index: 100;
}

.selection-block2 {
  grid-column: 2 / 4;
  border-radius: 10px;
  overflow: hidden;
  background-color: #B4D1E0;
}

.slides-slider {
  width: 555px;
  height: 570px;
}

.slides-slider__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slides-slider__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.slides-slider__item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
}

.slides-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.slides-slider__button--prev {
  left: 18px;
  background-image: url(../img/arrow-prev.svg);
}

.slides-slider__button--next {
  right: 18px;
  background-image: url(../img/arrow-next.svg);
}

.slides-slider__pagination {
  padding-bottom: 30px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
  background-color: #FFFFFF;
  opacity: 0.4;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  opacity: 1;
}

.ccard {
  padding: 50px 50px 165px 50px;
  max-height: 85%;
}

.ccard__sticker {
  position: absolute;
  top: 18px;
  left: 18px;
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.ccard__outer {
  width: 455px;
  height: 355px;
}

.ccard-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ccard-content__avatar {
  width: 45px;
  height: 45px;
  margin-bottom: 8px;
}

.ccard-content__name {
  margin: 0;
  margin-bottom: 2px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.85;
}

.ccard-content__job {
  margin-bottom: 30px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.4;
}

.ccard-content__title {
  margin: 0;
  margin-bottom: 45px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  text-align: center;
}

.button-selection__images {
  width: 20px;
  height: 20px;
}

.button-selection__text {
  margin: 0 8px;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.button-selection__count {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #C5E4FC;
}

.ccard2 {
  padding: 35px 307px 50px 35px;
  position: relative;
}

.ccard2__subtitle {
  margin-bottom: 20px;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #6E99AE;
}

.ccard2__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}

.ccard2__text {
  margin: 0;
  margin-bottom: 45px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.ccard2__circle {
  width: 260px;
  height: 260px;
  position: absolute;
  top: 65px;
  right: 30px;
  border-radius: 50%;
  background-color: #D1E2EB;
}

.ccard2__image {
  position: absolute;
  top: 0;
  right: 0;
}

.suggestion {
  padding-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.suggestion-section {
  padding-top: 45px;
  background-color: #F5F5F5;
}

.suggestion-card {
  height: 275px;
}

.suggestion-card__image {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 8px;
}

.suggestion-card__title {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
  margin: 0;
  margin-bottom: 15px;
}

.suggestion-card__details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.thanks-section {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.thanks-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}

.thanks-link:not(:last-child) {
  margin-bottom: 10px;
}

.thanks-link__logo {
  width: 40px;
  height: 40px;
  fill: #BCBFC2;
  margin-right: 10px;
}

.thanks-link__logo--rotate {
  transform: rotate(180deg);
}

.thanks-link__text {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.commentation {
  max-width: 845px;
  padding-left: 97px;
}

.commentation-section {
  padding-top: 90px;
}

.commentation-head {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.commentation-head__text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commentation-head__title {
  margin: 0;
  margin-right: 10px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
}

.commentation-head__count {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  color: #939699;
}

.commentation-head__link {
  text-decoration: none;
}

.commentation-more {
  cursor: pointer;
  padding: 13px;
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  border: 1px solid #D9DADB;
  border-radius: 25px;
  background-color: #FFFFFF;
}

.commentation-more__button {
  margin-left: 42.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commentation-more__button-icon {
  width: 15px;
  height: 15px;
}

.commentation-more__button-text {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  color: #262D33;
  margin-left: 7px;
  text-transform: lowercase;
}

.add-comment {
  min-width: 228px;
  min-height: 40px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #D9DADB;
  border-radius: 20px;
}

.add-comment__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.add-comment__text {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
}

.comment {
  padding-top: 20px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 75px 570px;
  grid-column-gap: 15px;
  border-top: 1px solid #D9DADB;
}

.comment--primary {
  padding-right: 90px;
}

.comment--reply {
  padding-left: 90px;
}

.comment-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.comment-content__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.comment-content__top-author {
  margin: 0;
  margin-right: 10px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}

.comment-content__top-date {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.comment-content__text {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #4B5157;
}

.comment-content__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Lato Heavy", sans-serif;
  font-weight: 800;
  font-size: 12px;
}

.reply {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  fill: #BCBFC2;
  color: #262D33;
}

.reply__icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  fill: inherit;
}

.reply__text {
  text-decoration: none;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: inherit;
}

.dislike {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dislike__icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.dislike__icon-upvote {
  margin-right: 5px;
  fill: #BCBFC2;
}

.dislike__icon-downvote {
  margin-left: 5px;
  fill: #BCBFC2;
}

.dislike__text {
  text-decoration: none;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #262D33;
}

.dislike__text--positive {
  color: #3DC47E;
}

.dislike__text--negative {
  color: #FF4F52;
}

.ncomment {
  height: 290px;
  padding: 30px 40px 35px 30px;
  background: #F5F5F5;
  border-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-column-gap: 10px;
  grid-template-rows: 25px 1fr;
  grid-row-gap: 15px;
}

.part2-title {
  padding-left: 12px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
}

.part3-avatar {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.part4 {
  background: url("../img/shape.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.part4__form {
  position: relative;
  padding-left: 12px;
  width: 100%;
  height: 130px;
}

.part4__comment {
  padding: 10px;
  margin-top: 1px;
  width: 99%;
  height: 98%;
  border: none;
  border-radius: 5px;
}

.part4__shape {
  position: absolute;
}

.part4__send {
  padding-top: 15px;
}

.part4 > form > label {
  position: absolute;
  top: 120px;
  font-size: 12px;
}

.newsletter {
  padding: 60px 195px 70px 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-section {
  background-color: #FFFFFF;
}

.newsletter__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
}

.subscribe {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 459px;
}

.subscribe__input {
  border: 1px solid #D9DADB;
  border-radius: 5px;
  min-width: 313px;
  height: 40px;
  padding: 10px 15px;
  margin-right: 10px;
}

.subscribe__button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #4592FF;
  border: none;
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 5px;
}

.subscribe > label {
  position: absolute;
  top: 45px;
  border: none;
  font-size: 14px;
}

.footer {
  padding-bottom: 55px;
}

.footer-section {
  background-color: #FFFFFF;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #D9DADB;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: 64px;
}

.footer-top__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  border-top: 5px solid;
}

.footer-top__list--list1 {
  border-color: #FF4F52;
}

.footer-top__list--list2 {
  border-color: #AC8EE3;
}

.footer-top__list--list3 {
  border-color: #4592FF;
}

.footer-top__list--list4 {
  border-color: #FFA34D;
}

.footer-top__list--list5 {
  border-color: #3DC47E;
}

.footer-top__list--list6 {
  border-color: #6E99AE;
}

.footer-top__item {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.footer-top__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-top__item:first-child {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  margin-bottom: 25px;
}

.footer-top__link {
  text-decoration: none;
  color: inherit;
}

.footer-middle {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-middle__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-middle__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-middle__item {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
  margin-left: 30px;
  cursor: pointer;
}

.footer-middle__link {
  text-decoration: none;
  color: inherit;
}

.footer-bottom {
  padding-top: 40px;
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-bottom__text {
  margin: 0;
  max-width: 750px;
}

.social {
  min-width: 205px;
}

.social__item:not(:first-child) {
  margin-left: 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header-bottom {
    margin-top: 20px;
  }
  .logo-text {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr 263px;
  }
  .addread {
    padding: 25px;
    min-height: 260px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .addread__link:nth-child(2n) {
    border-right: none;
  }
  .addread__link:nth-child(-n+2) {
    border-bottom: 1px solid #D9DADB;
  }
  .addread__title {
    font-size: 18px;
    line-height: 24px;
  }
  .articles {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .article--block1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  .article--block2 {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
  }
  .article--block3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .article--block4 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
  }
  .article--block5 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
  .article--block6 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  .article--block7 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }
  .article--block8 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }
  .article--block9 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
  }
  .article--block10 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
  }
  .post-xlarge {
    grid-template-rows: 5.7fr 1px 1fr;
  }
  .post-regular2--special {
    min-height: 195px;
    padding-top: 30px;
  }
  .regular1-bottom__download {
    justify-content: center;
  }
  .investigation {
    height: 320px;
  }
  .blog {
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px;
  }
  .blog-right__posts {
    padding: 0 0 0 15px;
  }
  .bcard {
    grid-template-columns: 4.4fr 5.2fr;
    grid-column-gap: 25px;
  }
  .selection {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .selection-block1 {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }
  .selection-block2 {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
  }
  .slides-slider {
    width: 100%;
    height: 100%;
  }
  .newsletter {
    padding: 60px 10% 70px 10%;
  }
}

@media (min-width: 992px) {
  .navbar__link:hover,
  .addread__title:hover,
  .footer-top__link:hover,
  .footer-middle__link:hover,
  .home__link:hover,
  .back__link:hover,
  .forward__link:hover,
  .bcard-description__link:hover,
  .blog-right__more:hover,
  .thanks-link:hover {
    text-decoration: underline;
  }
  .modbutton:hover {
    background-color: #54595d;
  }
  .modbutton:active {
    background-color: #767d83;
  }
  .button:hover,
  .subscribe__button:hover {
    background-color: #217dff;
  }
  .button:active,
  .subscribe__button:active {
    background-color: #69a7ff;
  }
  .social__logo-facebook,
  .social__logo-twitter,
  .social__logo-youtube,
  .social__logo-instagram {
    transition: 0.5s;
  }
  .social__logo-facebook:hover,
  .social__logo-twitter:hover,
  .social__logo-youtube:hover,
  .social__logo-instagram:hover {
    transform: scale(1.2);
  }
  .post-xlarge,
  .post-large1,
  .post-large3,
  .post-regular2,
  .suggestion-card,
  .recent {
    transition: 0.5s;
    cursor: pointer;
  }
  .post-xlarge:hover,
  .post-large1:hover,
  .post-large3:hover,
  .post-regular2:hover,
  .suggestion-card:hover,
  .recent:hover {
    transform: scale(1.025);
  }
  .hero-right__card:hover {
    background-color: #F5F5F5;
  }
  .outer {
    transition: 0.5s;
  }
  .outer:hover {
    background-color: #33a3a9;
  }
  .large2-bottom__item:hover,
  .ahero-card__bottom:hover,
  .aarticle__item:hover,
  .add-comment:hover,
  .commentation-more:hover {
    background-color: #F5F5F5;
    border-color: #c7c8ca;
  }
  .abutton:hover {
    background-color: #217dff;
  }
  .reply:hover {
    fill: #6d7378;
    color: black;
  }
  .dislike__icon-upvote:hover {
    fill: #3DC47E;
  }
  .dislike__icon-downvote:hover {
    fill: #FF4F52;
  }
  .footer-top__list--list1:hover {
    border-top: 7px solid #FF4F52;
    padding-top: 28px;
  }
  .footer-top__list--list2:hover {
    border-top: 7px solid #AC8EE3;
    padding-top: 28px;
  }
  .footer-top__list--list3:hover {
    border-top: 7px solid #4592FF;
    padding-top: 28px;
  }
  .footer-top__list--list4:hover {
    border-top: 7px solid #FFA34D;
    padding-top: 28px;
  }
  .footer-top__list--list5:hover {
    border-top: 7px solid #3DC47E;
    padding-top: 28px;
  }
  .footer-top__list--list6:hover {
    border-top: 7px solid #6E99AE;
    padding-top: 28px;
  }
}
/*# sourceMappingURL=style.css.map */