@font-face
  font-family: 'Lato Regular'
  src: url('../fonts/latoregular.woff2') format('woff2'),
		url('../fonts/latoregular.woff') format('woff')
  font-weight: 400
  font-style: normal
  font-stretch: normal
  font-display: swap
  unicode-range: U+0020-2044

@font-face
  font-family: 'Lato Heavy'
  src: url('../fonts/latoheavy.woff2') format('woff2'),
		url('../fonts/latoheavy.woff') format('woff')
  font-weight: 800
  font-style: normal
  font-stretch: normal
  font-display: swap
  unicode-range: U+0020-2044

@font-face
  font-family: 'Lato Heavy Italic'
  src: url('../fonts/latoheavyitalic.woff2') format('woff2'),
		url('../fonts/latoheavyitalic.woff') format('woff')
  font-weight: 800
  font-style: italic
  font-stretch: normal
  font-display: swap
  unicode-range: U+0020-2044

@font-face
  font-family: 'Lato Black'
  src: url('../fonts/latoblack.woff2') format('woff2'),
		url('../fonts/latoblack.woff') format('woff')
  font-weight: 900
  font-style: normal
  font-stretch: normal
  font-display: swap
  unicode-range: U+0020-2044
