@media (min-width: 992px)
  .navbar__link,
  .hero-right__link,
  .main__title,
  .addread__title
    &:hover
      text-decoration: underline
  .modbutton
    &:hover
      background-color: darken($modal-button, 7%)
    &:active
      background-color: lighten($modal-button, 7%)
  .button,
  .subscribe__button
    &:hover
      background-color: darken($button, 7%)
    &:active
      background-color: lighten($button, 7%)
  /** .user__avatar
   transition: 0.5s
   &:hover
   transform: scale(1.2) **/
