@media (min-width: 992px)
  .navbar__link,
  .addread__title,
  .footer-top__link,
  .footer-middle__link,
  .home__link,
  .back__link,
  .forward__link,
  .bcard-description__link,
  .blog-right__more,
  .thanks-link
    &:hover
      text-decoration: underline
  .modbutton
    &:hover
      background-color: darken($modal-button, 7%)
    &:active
      background-color: lighten($modal-button, 7%)
  .button,
  .subscribe__button
    &:hover
      background-color: darken($button, 7%)
    &:active
      background-color: lighten($button, 7%)
  .social__logo-facebook,
  .social__logo-twitter,
  .social__logo-youtube,
  .social__logo-instagram
    transition: 0.5s
    &:hover
      transform: scale(1.2)
  .post-xlarge,
  .post-large1,
  .post-large3,
  .post-regular2,
  .suggestion-card,
  .recent
    transition: 0.5s
    cursor: pointer
    &:hover
      transform: scale(1.03)
  .hero-right__card
    &:hover
      background-color: $selected
  .outer
    transition: 0.5s
    &:hover
      background-color: darken(#3BBDC4, 7%)
  .large2-bottom__item,
  .ahero-card__bottom,
  .aarticle__item,
  .add-comment,
  .commentation-more
    &:hover
      background-color: $selected
      border-color: darken($line, 7%)
  .abutton
    &:hover
      background-color: darken($button, 7%)
  .reply
    &:hover
      fill: darken($icon, 30%)
      color: darken($text-dark, 70%)
  .dislike__icon-upvote
    &:hover
      fill: $accent5
  .dislike__icon-downvote
    &:hover
      fill: $accent8
  .footer-top__list--list1
    &:hover
      border-top: 7px solid $accent8
      padding-top: 28px
  .footer-top__list--list2
    &:hover
      border-top: 7px solid $accent3
      padding-top: 28px
  .footer-top__list--list3
    &:hover
      border-top: 7px solid $accent7
      padding-top: 28px
  .footer-top__list--list4
    &:hover
      border-top: 7px solid $accent4
      padding-top: 28px
  .footer-top__list--list5
    &:hover
      border-top: 7px solid $accent5
      padding-top: 28px
  .footer-top__list--list6
    &:hover
      border-top: 7px solid $accent2
      padding-top: 28px
