@media (max-width: 1200px)
  .container
    max-width: 960px
  .header
    &-bottom
      margin-top: 20px
  .logo
    &-text
      display: none
  .hero
    grid-template-columns: 1fr 263px
  .addread
    padding: 25px
    min-height: 260px
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    &__link
      &:nth-child(2n)
        border-right: none
      &:nth-child(-n+2)
        border-bottom: 1px solid $line
    &__title
      font-size: 18px
      line-height: 24px
  .articles
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(6, 1fr)
  .article
    &--block1
      grid-column: 1 / 4
      grid-row: 1 / 3
    &--block2
      grid-column: 3 / 4
      grid-row: 3 / 5
    &--block3
      grid-column: 2 / 3
      grid-row: 3 / 4
    &--block4
      grid-column: 1 / 2
      grid-row: 5 / 7
    &--block5
      grid-column: 1 / 2
      grid-row: 3 / 5
    &--block6
      grid-column: 2 / 3
      grid-row: 4 / 5
    &--block7
      grid-column: 3 / 4
      grid-row: 5 / 6
    &--block8
      grid-column: 2 / 3
      grid-row: 5 / 6
    &--block9
      grid-column: 2 / 3
      grid-row: 6 / 7
    &--block10
      grid-column: 3 / 4
      grid-row: 6 / 7
  .post
    &-xlarge
      grid-template-rows: 5.7fr 1px 1fr
    &-regular2
      &--special
        min-height: 195px
        padding-top: 30px
  .regular1
    &-bottom
      &__download
        justify-content: center
  .investigation
    height: 320px
  .blog
    grid-template-columns: 3fr 1fr
    grid-column-gap: 20px
    &-right
      &__posts
        padding: 0 0 0 15px
  .bcard
    grid-template-columns: 4.4fr 5.2fr
    grid-column-gap: 25px
  .selection
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(5, 1fr)
    &-block1
      grid-column: 1 / 4
      grid-row: 1 / 4
    &-block2
      grid-column: 1 / 3
      grid-row: 4 / 6
  .slides
    &-slider
      width: 100%
      height: 100%
  .newsletter
    padding: 60px 10% 70px 10%
@media (min-width: 992px)
  .navbar__link,
  .addread__title,
  .footer-top__link,
  .footer-middle__link,
  .home__link,
  .back__link,
  .forward__link,
  .bcard-description__link,
  .blog-right__more,
  .thanks-link
    &:hover
      text-decoration: underline
  .modbutton
    &:hover
      background-color: darken($modal-button, 7%)
    &:active
      background-color: lighten($modal-button, 7%)
  .button,
  .subscribe__button
    &:hover
      background-color: darken($button, 7%)
    &:active
      background-color: lighten($button, 7%)
  .social__logo-facebook,
  .social__logo-twitter,
  .social__logo-youtube,
  .social__logo-instagram
    transition: 0.5s
    &:hover
      transform: scale(1.2)
  .post-xlarge,
  .post-large1,
  .post-large3,
  .post-regular2,
  .suggestion-card,
  .recent
    transition: 0.5s
    cursor: pointer
    &:hover
      transform: scale(1.025)
  .hero-right__card
    &:hover
      background-color: $selected
  .outer
    transition: 0.5s
    &:hover
      background-color: darken(#3BBDC4, 7%)
  .large2-bottom__item,
  .ahero-card__bottom,
  .aarticle__item,
  .add-comment,
  .commentation-more
    &:hover
      background-color: $selected
      border-color: darken($line, 7%)
  .abutton
    &:hover
      background-color: darken($button, 7%)
  .reply
    &:hover
      fill: darken($icon, 30%)
      color: darken($text-dark, 70%)
  .dislike__icon-upvote
    &:hover
      fill: $accent5
  .dislike__icon-downvote
    &:hover
      fill: $accent8
  .footer-top__list--list1
    &:hover
      border-top: 7px solid $accent8
      padding-top: 28px
  .footer-top__list--list2
    &:hover
      border-top: 7px solid $accent3
      padding-top: 28px
  .footer-top__list--list3
    &:hover
      border-top: 7px solid $accent7
      padding-top: 28px
  .footer-top__list--list4
    &:hover
      border-top: 7px solid $accent4
      padding-top: 28px
  .footer-top__list--list5
    &:hover
      border-top: 7px solid $accent5
      padding-top: 28px
  .footer-top__list--list6
    &:hover
      border-top: 7px solid $accent2
      padding-top: 28px
