*
  box-sizing: border-box

body
  background-color: $bg
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 20px

.container
  max-width: 1140px
  margin: auto

h2, h3, h4
  margin: 0
  padding: 0

.avatar
  border-radius: 50%
.subtitle
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 900
  font-size: 12px
  line-height: 15px
  letter-spacing: 0.5px
  text-transform: uppercase

button
  cursor: pointer
