*
  box-sizing: border-box
  scroll-behavior: smooth

body
  background-color: $bg
  font-family: $lato-400
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 20px
.abody
  background-color: #FFFFFF
  font-family: $lato-400
  font-style: normal
  font-weight: normal
  color: $text-primary
.container
  max-width: 1140px
  margin: auto

input, textarea
  outline: none

textarea
  resize: none

.invalid
  color: $accent8
.valid
  color: green

.avatar
  border-radius: 50%
.subtitle
  font-family: $lato-900
  font-style: normal
  font-weight: 900
  font-size: 12px
  line-height: 15px
  letter-spacing: 0.5px
  text-transform: uppercase
  margin: 0

.oh
  overflow: hidden

img
  width: 100%

button, .abutton
  cursor: pointer

use.bookmarked
  fill: $accent8

.href
  text-decoration: none
  &:not(:last-child)
    margin-right: 14px
.main__link
  cursor: auto
.scrollup
  width: 40px
  height: 40px
  opacity: 0.4
  position: fixed
  bottom: 50px
  right: 100px
  z-index: 999
  display: none
  text-indent: -9999px
  background: url("../img/up-arrow.png") no-repeat
