*
  box-sizing: border-box

body
  background-color: $bg
  font-family: $lato-400
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 20px
.abody
  background-color: #FFFFFF
  font-family: $lato-400
  font-style: normal
  font-weight: normal
  color: $text-primary
.container
  max-width: 1140px
  margin: auto

input, textarea
  outline: none

textarea
  resize: none

.invalid
  color: $accent8
.valid
  color: green

.avatar
  border-radius: 50%
.subtitle
  font-family: $lato-900
  font-style: normal
  font-weight: 900
  font-size: 12px
  line-height: 15px
  letter-spacing: 0.5px
  text-transform: uppercase
  margin: 0

.oh
  overflow: hidden

img
  width: 100%

button, .abutton
  cursor: pointer

use.bookmarked
  fill: $accent8

.href
  text-decoration: none
  &:not(:last-child)
    margin-right: 14px
.main__link
  cursor: auto
.up
  padding: 5px 10px
  max-width: 135px
  overflow: hidden
  border-radius: 10px
  border: 1px solid $line
  display: flex
  align-items: center
  justify-content: center
  background-color: #FFFFFF
  &-cont
    width: 100%
    display: flex
    justify-content: end
    padding-bottom: 10px
    text-decoration: none
  &__text
    font-family: $lato-400
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    color: $text-primary
  &__arrow
    margin-left: 5px
    width: 20px
    height: 20px
    fill: $text-dark
    transform: rotate(270deg)
