$bg: #E5E5E5
$line: #D9DADB
$text-primary: #4B5157
$text-secondary: #939699
$text-dark: #262D33
$text-light: #FFFFFF
$button: #4592FF
$modal-button: #656B70
$accent1: #3BBDC4
$accent2: #6E99AE
$accent3: #AC8EE3
$accent4: #FFA34D
$accent5: #3DC47E
$accent6: #E7D9FF
$lato: "Lato", sans-serif
$lato-heavy: "Lato Heavy", sans-serif
$lato-heavy-italic: "Lato Heavy Italic", sans-serif
