$bg: #E5E5E5
$header-bg: #262D33
$text-primary: #4B5157
$text-secondary: #939699
$text-dark: #262D33
$text-light: #FFFFFF
$button: #4592FF
$modal-button: #656B70
$lato: $lato
$lato-heavy: 'Lato Heavy', sans-serif
$lato-heavy-italic: 'Lato Heavy Italic', sans-serif
