.header
  background-color: $header-bg
  &-top
    padding: 15px 0
    max-height: 70px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
.logo
  max-width: 163px
  max-height: 40px
.navbar
  list-style-type: none
  padding: 0
  min-width: 540px
  display: flex
  flex-direction: row
  justify-content: space-between
  &__item
  &__link
    text-decoration: none
    color: $text-light
    font-weight: 900
.button
  padding: 10px 65px
  background-color: $modal-button
  border: none
  color: $text-light
  line-height: 20px
  text-transform: uppercase
  border-radius: 10px
