.suggestion
  padding-bottom: 90px
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-column-gap: 30px
  &-section
    padding-top: 45px
    background-color: $selected
  &-card
    height: 275px
    text-decoration: none
    &__image
      border-radius: 10px
      width: 100%
      object-fit: cover
      margin-bottom: 8px
    &__title
      font-family: "Roboto Slab", serif
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 25px
      color: $text-dark
      margin: 0
      margin-bottom: 15px
      max-height: 80px
      overflow: auto
    &__details
      display: flex
      flex-direction: row
      align-items: center
